.back-arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background-color: #2563eb;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 1000;
}

.back-arrow:hover {
  background-color: #1e40af;
  transform: scale(1.1);
}