.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.back-btn {
  background-color: #6b7280;
  color: white;
}

.next-btn {
  background-color: #2563eb;
  color: white;
}

.nav-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}